[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
langchain = "*"
openai = "*"
pypdf = "*"

[dev-packages]

[scripts]
dev = "python main.py"

[requires]
python_version = "3.11"
